
<div class="sidebar">
    
    <h3>Search posts</h3>

    @using (Html.BeginForm(
        "Search",           // action
        "Blog",             // controller
        FormMethod.Get,     // method
        new { id = "search-form" ,})) 
    {
        <ul>
            <li>               
                @Html.TextBox("searchCritera", string.Empty, new { style="width: 100px;"})                
            </li>            
        </ul>
    }

</div>
