@using (Html.BeginForm(
    "Search",           // action
    "Blog",             // controller
    FormMethod.Get,     // method
    new { id = "search-form" })) 
{
    <p>
        @Html.TextBox("searchCritera")
    </p>
    <p>
        <input value="submit" type="image" alt="Submit"  src="../../Content/Themes/Simple/images/icon_search_dark.png" class="searchButton"/>
    </p>
}